body {
  font-family: 'Special Elite', cursive;
  background: #070D3C;
}

body .warpped {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .warpped .right {
  width: 40%;
  margin: auto;
}

body .warpped .right .head .logo {
  position: absolute;
  width: 717px;
  height: 155px;
  left: 74px;
  top: 56px;
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #162360;
  opacity: 0.4;
}

body .warpped .right .head .title {
  position: absolute;
  width: 495px;
  height: 36px;
  left: 98px;
  top: 137px;
  font-family: 'Special Elite';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #15B582;
}

body .warpped .right .questions {
  width: 80%;
  margin: auto;
  margin-top: 200px;
}

body .warpped .right .questions .question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px solid #162360;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
}

body .warpped .right .questions .question .ques {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #15B582;
}

body .warpped .right .questions .question .in {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #38424C;
}

body .warpped .right .questions .question .in input {
  border: 0;
  outline: 0;
  background: transparent;
  color: #EBEFF1;
  width: 70px;
  padding: 5px;
  font-size: 22px;
}

body .warpped .right .questions .question .in input:required, body .warpped .right .questions .question .in input:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .warpped .right .questions .question .in .input-money {
  width: 100px;
}

body .warpped .right .questions .question .in .end {
  margin-top: 5px;
  color: #EBEFF1;
  padding: 5px;
  font-size: 22px;
}

body .warpped .right .cal {
  font-family: 'Special Elite', cursive;
  display: inline-block;
  padding: 20px;
  margin: auto;
  margin-top: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #15B582;
  background: #070D3C;
  -webkit-box-shadow: -6px -6px 12px #0f1750, 6px 6px 12px #040824;
          box-shadow: -6px -6px 12px #0f1750, 6px 6px 12px #040824;
  border: 0;
  border-radius: 24px;
}

body .warpped .right .cal:hover {
  -webkit-box-shadow: inset -6px -6px 12px #0f1750, inset 6px 6px 12px #040824;
          box-shadow: inset -6px -6px 12px #0f1750, inset 6px 6px 12px #040824;
}

body .warpped .left {
  width: 40%;
  margin: auto;
  margin-top: 250px;
}

body .warpped .left .year {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
  color: #EBEFF1;
}

body .warpped .left .year .year--name {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #B62D4F;
}

body .warpped .left .year .start {
  margin-left: 30px;
  font-size: 18px;
}

body .warpped .left .year .q {
  font-size: 15px;
  margin-left: 60px;
  opacity: 70%;
}

body .warpped .left .year .grow {
  margin-left: 30px;
  font-size: 18px;
}

body .warpped .left .return--title {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  color: #15B582;
  margin-left: 100px;
  margin-top: 10px;
}

body .warpped .left .return--plus {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  color: #38424C;
  margin-left: 100px;
}

@media only screen and (max-width: 930px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .warpped {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  body .warpped .right {
    width: 100%;
  }
  body .warpped .right .head .logo {
    width: 358px;
    height: 77px;
    left: 37px;
    top: 28px;
    font-weight: 200;
    font-size: 75px;
    line-height: 75px;
  }
  body .warpped .right .head .title {
    width: 347px;
    height: 18px;
    left: 49px;
    top: 68px;
    font-weight: 200;
    font-size: 24px;
    line-height: 18px;
  }
  body .warpped .right .questions {
    margin-top: 100px;
    margin-left: 20px;
    width: 100%;
  }
  body .warpped .left {
    width: 100%;
    margin-top: 50px;
    margin-left: 30px;
  }
  body .warpped .left .year .line {
    margin-left: -40px;
  }
}
/*# sourceMappingURL=style.css.map */